@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron summary" style="margin:20px">
    <h1 style="padding-bottom:15px">Cleveland Travel Reviews</h1>
    <p class="lead">Vestibulum facilisis elit sed erat dignissim tempus. Integer porttitor dapibus malesuada. Cras rutrum fringilla ullamcorper. Nunc vitae mattis risus, et tincidunt lorem. Aliquam porta pulvinar pulvinar. Etiam orci felis, iaculis vitae facilisis non, ultrices eget magna. Praesent mi justo, mollis eget mi sed, fermentum cursus dui. Nam finibus fermentum mollis. Praesent magna nulla, commodo at purus vitae, imperdiet dapibus lorem. Aenean nec lorem posuere, gravida elit a, tincidunt nunc. Cras a massa vitae velit feugiat rutrum. Nam condimentum, leo a egestas tempor, sapien odio fermentum lacus, eget egestas lacus diam a enim. Duis vehicula elementum justo, quis lobortis felis dictum a. Quisque finibus mi eleifend ligula blandit sagittis.</p>
</div>

