body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('images/cle3.jpg'); /*added background image for all pages*/
    background-size: cover;
    color: #514E4E;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Poppins', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Styling for reviews on review index*/
.summary {
    border: 2px solid #514E4E;
    margin: 0px auto;
    background-color: white;
    padding: 0px;
    opacity: .75;
}

/*Styling for thumbs up/down*/
.glyphicon {
    font-size: 50px;
    text-align: center;
}

/*Button styling*/
a.btn.btn-primary {
    background-color: white;
    margin: 0px;
    border-color: white;
    margin-top: 20px;
    opacity: .75;
    color: #514E4E;
    font-size: 15px;
    font-weight: bold;
}

/*Review details styling*/
.details {
    margin: 10px;
    padding: 20px;
    background-color: white;
    opacity: .75;
    color: #514E4E;
    border: 2px solid #514E4E;
}
